##Overview

Dear Learner, 

Congratulations, you have studied Python all the way through the end of this bootcamp!!! This is the final graded hands-on exercise where you will be accomplishing the below mentioned task.

Authors: Albana Celepija, Vinayak Deshpande

###Task 1

We have declared a tuple containing five same elements as following:
T = (‘python’, ‘python’, ‘python’, ‘python’, ‘python’).
Re-write the same code in an optimal/simple way that fetches the same result.

In [ ]:
T = ('python',) * 5
print(T)

('python', 'python', 'python', 'python', 'python')

###Task 2

Write code to print characters from a string that are present at an even index number.
For example, if your input string is "python", the output characters will be (p,t,o).

In [ ]:
string = "python"
for i in range(len(string)):
    if i%2 == 0:
        print(string[i])

p
t
o

### Task 3

Write a function that calculates the average of the elements of the list: 

elements = [5, 7, 4, 9, 2]

In [ ]:
def Average(List):
    sum = 0
    for i in range(len(List)):
        sum += List[i]
    average = sum/len(List)
    return average

In [ ]:
elements = [5, 7, 4, 9, 2]
Average(elements)

5.4

### Task 4
Write a code that takes a year as input and determines whether it is a leap year or not.

In [ ]:
import calendar
calendar.isleap(2016)

True

### Task 5
Given a list of numbers (integers), find the sum of second maximum and second minimum in the following list.

l = [21, 6, 12, 57, 35, 61]

In [ ]:
l = [21, 6, 12, 57, 35, 61]
l.sort()
l

[6, 12, 21, 35, 57, 61]

In [ ]:
sum = l[1]+l[-2]
print(sum)

69